@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@using HealthVaultProviderManagementPortal.Helpers
@using HealthVaultProviderManagementPortal.Models.Enums
@using System.Runtime
@model Microsoft.HealthVault.RestApi.Generated.Models.ActionPlanInstance

@{
    ViewBag.Title = "Edit plan";
}
<h1 class="page-title">Edit Action Plan</h1>

@using (Html.BeginForm("Plan", "ActionPlan"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("personId", Request.Params["personId"])
    @Html.Hidden("recordId", Request.Params["recordId"])
    @Html.HiddenFor(model => model.Id)

    <h2>Plan</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Category, SelectListHelper.FromEnum<ActionPlanCategory>(Model.Category), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Status, SelectListHelper.FromEnum<ActionPlanStatus>(Model.Status), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.ThumbnailImageUrl, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ThumbnailImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <hr />

        <h3>Objectives</h3>
        <div class="form-horizontal">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="header">Objective ID</th>
                        <th class="header">Objective Name</th>
                        <th class="header">Outcome Name</th>
                        <th class="header">Outcome Type</th>
                        <th class="header"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Objectives.Count; i++)
                {
                        <tr>
                            <td>@Html.EditorFor(model => Model.Objectives[i].Id, new { htmlAttributes = new { @class = "form-control", @readonly = true } })</td>
                            <td>@Html.EditorFor(model => Model.Objectives[i].Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(model => Model.Objectives[i].OutcomeName, new { htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.DropDownListFor(model => Model.Objectives[i].OutcomeType, SelectListHelper.FromEnum<ActionPlanOutcomeType>(Model.Objectives[i].OutcomeType), htmlAttributes: new { @class = "form-control" })</td>
                            <td><input type="submit" value="Delete" formaction="@Url.Action("RemoveObjective", new {planId = Model.Id, objectiveId = Model.Objectives[i].Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})" class="btn btn-link delete delete-table-button" onclick="return confirm('Do you want to delete this objective? This action is irreversible.');" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-horizontal">
        <h3>Tasks</h3>
        <div class="form-group">
            <div class="col-md-3 slim-col">
                <label class="control-label">Select an objective to add a task</label>
            </div>
            <div class="col-md-9 slim-col">
                @Html.DropDownList("objectiveId", new SelectList(Model.Objectives, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                <div class="form-group">
                    <div class="col-md-7 slim-col">
                        <input type="submit" value="+ Add scheduled task" formaction="@Url.Action("CreateScheduledTask", new {planId = Model.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})" class="btn btn-default" />
                        <input type="submit" value="+ Add frequency task" formaction="@Url.Action("CreateFrequencyTask", new {planId = Model.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="header">Task id</th>
                    <th class="header">Task name</th>
                    <th class="header">Status</th>
                    <th class="header" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AssociatedTasks != null)
                {
                    foreach (var task in Model.AssociatedTasks)
                    {
                        <tr>
                            <td>@task.Id</td>
                            <td>@task.Name</td>
                            <td>@task.Status</td>
                            <td>@Html.ActionLink("Edit", "Task", new {planId = task.AssociatedPlanId, id = task.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})</td>
                            <td>@Html.ActionLink("Validate auto tracking", "ValidateTracking", new {planId = task.AssociatedPlanId, id = task.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <hr />
        <div class="form-group">
            <div class="col-md-12 slim-col">
                @Html.ActionLink("Cancel", "Plans", new { planId = Model.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"] }, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="submit" value="Delete" formaction="@Url.Action("RemovePlan", new { id = Model.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"] })"
                    class="btn btn-link delete" onclick="return confirm('Do you want to delete this plan? This action is irreversible.');" />
            </div>
        </div>
    </div>
}
