@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@using HealthVaultProviderManagementPortal.Helpers
@using HealthVaultProviderManagementPortal.Models.Enums
@using Microsoft.HealthVault.RestApi.Generated.Models
@model Microsoft.HealthVault.RestApi.Generated.Models.ActionPlanTaskInstance

@{
    ViewBag.Title = "Edit Task";
}
<h1 class="page-title">Edit Action Plan Task</h1>

@using (Html.BeginForm("Task", "ActionPlan"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("personId", Request.Params["personId"])
    @Html.Hidden("recordId", Request.Params["recordId"])
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AssociatedPlanId)

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.SignupName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.SignupName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9 slim-col">
                @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Status, SelectListHelper.FromEnum<ActionPlanTaskStatus>(Model.Status), htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.TaskType, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.TaskType, SelectListHelper.FromEnum<ActionPlanTaskType>(Model.TaskType), htmlAttributes: new { @class = "form-control" })
            </div>
            
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.TaskKey, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TaskKey, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OrganizationId, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
            <div class="col-md-3 slim-col">
                @Html.LabelFor(model => model.OrganizationName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.ThumbnailImageUrl, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ThumbnailImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 slim-col">
                @Html.LabelFor(model => model.AssociatedObjectiveIds, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.AssociatedObjectiveIds, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 slim-col">
                @Html.LabelFor(model => model.Schedules, htmlAttributes: new { @class = "control-label" })
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="header">Days</th>
                            <th class="header">Time</th>
                            <th class="header">Reminder State</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Schedules?.Count; i++)
                        {
                            <tr>
                                <td>
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Everyday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Sunday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Monday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Tuesday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Wednesday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Thursday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Friday)
                                    @ScheduleDayCheckbox(Model.Schedules[i], "Schedules[" + i + "].ScheduledDays", "sd_" + i, ActionPlanScheduleDay.Saturday)
                                </td>
                                <td>@Html.EditorFor(model => Model.Schedules[i].ScheduledTime, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>@Html.DropDownListFor(model => model.Schedules[i].ReminderState, SelectListHelper.FromEnum<ActionPlanReminderState>(Model.Schedules[i]?.ReminderState), htmlAttributes: new { @class = "form-control" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.CompletionType, ActionPlanTaskCompletionType.Scheduled.ToString()) @ActionPlanTaskCompletionType.Scheduled.ToString()
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(model => model.CompletionType, ActionPlanTaskCompletionType.Frequency.ToString()) @ActionPlanTaskCompletionType.Frequency.ToString()
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.OccurrenceCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 slim-col">
                        @Html.EditorFor(model => model.FrequencyTaskCompletionMetrics.OccurrenceCount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.WindowType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 slim-col">
                        @Html.DropDownListFor(model => model.FrequencyTaskCompletionMetrics.WindowType, SelectListHelper.FromEnum<ActionPlanScheduleRecurrenceType>(Model.FrequencyTaskCompletionMetrics?.WindowType), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 slim-col">
                @Html.ActionLink("Cancel", "Plan", "ActionPlan", new { id = Model.AssociatedPlanId, personId = Request.Params["personId"], recordId = Request.Params["recordId"] }, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="submit" value="Delete" formaction="@Url.Action("RemoveTask", new {id = Model.Id, planID = Model.AssociatedPlanId, personId = Request.Params["personId"], recordId = Request.Params["recordId"]})" class="btn btn-link delete" onclick="return confirm('Do you want to delete this task? This action is irreversible.');" />
            </div>
        </div>
    </div>
}

@helper ScheduleDayCheckbox(Schedule schedule, string name, string idBase, ActionPlanScheduleDay day)
{
    <div class="checkbox-inline no-padding-top">
        <label for="@(idBase + "_" + day)" class="control-label">
            <input type="checkbox" name="@name" id="@(idBase + "_" + day)" value="@day"
                   checked="@(schedule != null && schedule.ScheduledDays != null &&  schedule.ScheduledDays.Contains(day.ToString()))" />
            @day
        </label>
    </div>
}
