@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@using Microsoft.HealthVault.Web
@using Microsoft.HealthVault.ItemTypes
@using Microsoft.HealthVault
@using System.Runtime
@using System
@using System.Globalization
@model IReadOnlyCollection<Weight>

@{
    ViewBag.Title = "Health information";
}

<h1 class="page-title">Latest measurements</h1>

<div>
    <h2>Current weight</h2>
    @if (Model == null)
    {
        <p>
            No weight values found.
        </p>
    }
    else
    {
        <p>
            Your current weight is <span class="emphasis">@(Model.First())</span>.
        </p>
    }
</div>

@if (Model != null &&  Model.Count > 1)
{
    <div>
        <h2>Weight history</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                </tr>
            </thead>
            @foreach (var weight in Model)
            {
                <tr>
                    <td>@(new DateTime(weight.When.Date.Year, weight.When.Date.Month, weight.When.Date.Day).ToString("d",
                        CultureInfo.CreateSpecificCulture("en-US")))</td>
                    <td>@(weight)</td>
                </tr>
            }
        </table>
</div>
}

<hr />
<div>
    <h2>Enter weight</h2>
    @using (Html.BeginForm("Index"))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4 slim-col">
                    @Html.Label("Weight in kg", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBox("weight", "", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 slim-col">
                    @Html.Hidden("personId", Request.Params["personId"])
                    @Html.Hidden("recordId", Request.Params["recordId"])
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
