@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@using Microsoft.Health.Platform.Entities.V3.ActionPlans
@using Microsoft.Health.Platform.Entities.V3.Enums
@model Microsoft.Health.Platform.Entities.V3.ActionPlans.ActionPlanTaskInstance

@{
    ViewBag.Title = "Edit Task";
}
@Html.Partial("UserInfo")

<p>@Html.ActionLink("<< Back to plan", "Plan", new { id = Model.AssociatedPlanId, personId = Request.Params["personId"], recordId = Request.Params["recordId"] }, new { cssClass = "btn btn-default" })</p>

<h1>Edit Action Plan Task</h1>

@using (Html.BeginForm("Task", "ActionPlan"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("personID", Request.Params["personId"])
    @Html.Hidden("recordId", Request.Params["recordId"])
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AssociatedPlanId)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignupName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SignupName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThumbnailImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThumbnailImageUrl, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TaskType, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssociatedObjectiveIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociatedObjectiveIds, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.CompletionType, ActionPlanTaskCompletionType.Frequency.ToString()) @ActionPlanTaskCompletionType.Frequency.ToString()
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.OccurrenceCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FrequencyTaskCompletionMetrics.OccurrenceCount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.WindowType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.FrequencyTaskCompletionMetrics.WindowType, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.ScheduledDays, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Everyday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Sunday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Monday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Tuesday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Wednesday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Thursday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Friday)
                        @ScheduleDayCheckbox(Model.FrequencyTaskCompletionMetrics, "FrequencyTaskCompletionMetrics.ScheduledDays", "ftcm_sd", ActionPlanScheduleDay.Saturday)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FrequencyTaskCompletionMetrics.ReminderState, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.FrequencyTaskCompletionMetrics.ReminderState, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="radio-inline">
                            <label>
                                @Html.RadioButtonFor(model => model.CompletionType, ActionPlanTaskCompletionType.Scheduled.ToString()) @ActionPlanTaskCompletionType.Scheduled.ToString()
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduledTaskCompletionMetrics.ScheduledTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ScheduledTaskCompletionMetrics.ScheduledTime, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduledTaskCompletionMetrics.ScheduledDays, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Everyday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Sunday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Monday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Tuesday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Wednesday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Thursday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Friday)
                        @ScheduleDayCheckbox(Model.ScheduledTaskCompletionMetrics, "ScheduledTaskCompletionMetrics.ScheduledDays", "stcm_sd", ActionPlanScheduleDay.Saturday)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduledTaskCompletionMetrics.ReminderState, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.ScheduledTaskCompletionMetrics.ReminderState, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="submit" value="Delete" formaction="@Url.Action("RemoveTask", new { id = Model.Id, planID = Model.AssociatedPlanId, personId = Request.Params["personId"], recordId = Request.Params["recordId"] })" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

@helper ScheduleDayCheckbox(BaseActionPlanTaskCompletionMetrics completionMetrics, string name, string idBase, ActionPlanScheduleDay day)
{
    <div class="checkbox-inline no-padding-top">
        <label for="@(idBase + "_" + day)" class="control-label">
            <input type="checkbox" name="@name" id="@(idBase + "_" + day)" value="@day"
                   checked="@(completionMetrics != null && completionMetrics.ScheduledDays != null &&  completionMetrics.ScheduledDays.Contains(day))" />
            @day
        </label>
    </div>
}
