@*
    Copyright (c) Microsoft Corporation.  All rights reserved.
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the ""Software""), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*@
@model HealthVaultProviderManagementPortal.Models.GoalsModel

@{
    ViewBag.Title = "Goals";
}

<h1 class="page-title">Goals</h1>

@using (Html.BeginForm("CreateGoal", "Goals"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("personId", Request.Params["personId"])
    @Html.Hidden("recordId", Request.Params["recordId"])

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="+ New default steps goal" class="btn btn-default" />
                @Html.ActionLink("+ New goal", "Goal", new {personId = Request.Params["personId"], recordId = Request.Params["recordId"]}, new {@class = "btn btn-default"})
                @Html.ActionLink("+ New goal recommendation", "GoalRecommendation", new { personId = Request.Params["personId"], recordId = Request.Params["recordId"] }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

    <h3>Existing goals</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var goal in Model.Goals)
        {
            <tr>
                <td>@goal.Id</td>
                <td>@goal.Name</td>
                <td>@goal.GoalType</td>
                <td>
                    @Html.ActionLink("Edit", "Goal", new { id = goal.Id, personId = Request.Params["personId"], recordId = Request.Params["recordId"] })
                </td>
                <td>
                    <input type="submit" value="Delete" formaction="@Url.Action("RemoveGoal", new {id = goal.Id})" class="btn-link delete" onclick="return confirm('Do you want to delete this goal? This action is irreversible.');"/>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <h3>Existing goal recommendations</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recommendation in Model.GoalRecomendations)
                {
                    <tr>
                        <td>@recommendation.Id</td>
                        <td>@recommendation.AssociatedGoal.Name</td>
                        <td>@recommendation.AssociatedGoal.GoalType</td>
                        <td>
                            <input type="submit" value="Delete" formaction="@Url.Action("RemoveGoalRecommendation", new {id = recommendation.Id})" class="btn-link delete" onclick="return confirm('Do you want to delete this goal recommendation? This action is irreversible.');" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
